*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(176, 176, 177);
    padding: 2rem; 
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #050505;
}

form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

input {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 0.75rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

#todo-list {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}
li:last-child {
    border-bottom: none;
}   

#todo-list li {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

#todo-list li .actions {
    display: flex;
    gap: 8px; 
}

#todo-list li span {
    flex: 1;
    margin-left: 16px; 
}

#todo-list button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Complete button */
.complete-btn {
    background: #4caf50;
    color: white;
}
li.completed .complete-btn {
    background: #ff9800;
}

.complete-btn:hover {
    background: #268c29;
    color: white;
}
li.completed .complete-btn:hover {
    background: #ac6700;
}

/* Delete button */
.delete-btn {
    background: #f44336;
    color: white;
}

.delete-btn:hover {
    background: #ad160c;
    color: white;
}